/* Header Section */

header {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    border: 0px solid white;
    background-color: gray;
    height: 70px;
    color: white;
    white-space: nowrap;
    box-shadow: 2px 2px 30px black;
}

header img {
    box-shadow: 2px 0px 5px black;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
    margin: 15px 10px;
}

header nav ul {
    display: flex;
    flex-flow: row;
    list-style-type: none;
    float: right;
}

header nav ul li {
    margin-right: 40px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

header nav ul li:hover {
    color: black;
    text-shadow: 1px 1px 2px white;
}

header nav ul li:last-child {
    color: black;
    background-color: white;
    margin: 0px 15px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

header nav ul li:last-child:hover {
    background-color: black;
    color: white;
    box-shadow: 0 -5px 5px -5px white,
    0 5px 5px -5px white,
    -5px 0 5px -5px white,
    5px 0 5px -5px white;
    text-shadow: 0px 0px 0px white;
}









