<div class="main">
    <div class="box">
        <div  *ngIf="condition; else signup">
            <div class="header">
                <div (click)="Up()" style="background-color: white;">Signup</div>
                <div (click)="In()">Signin</div>
            </div>
            <form #signupForm="ngForm" (ngSubmit)="onSubmitUp(signupForm)"  class="input">
                <div>
                    <input type="text" placeholder="Enter Username" name="name" ngModel required />
                    <span *ngIf="showname" >Enter valid username</span>
                </div>
                <div>
                    <input type="email" placeholder="Enter MailId" name="email" ngModel required email />
                    <span *ngIf="showmail" >Enter valid emailId</span>
                </div>
                <div>
                    <input type="password" placeholder="Enter Password" minlength="10" name="password" ngModel required />
                    <span *ngIf="showpass" >Enter valid password</span>
                </div>
                <div>
                    <input type="password" placeholder="Confirm Password" minlength="10" name="cpassword" ngModel required />
                    <span *ngIf="showcpass" >confirm password is not valid</span>
                </div>
                <div style="display: flex; justify-content: center;"><button type="submit">Signup</button></div>
            </form>
        </div>
        <ng-template #signup>
            <div class="header">
                <div (click)="Up()">Signup</div>
                <div (click)="In()" style="background-color: white;">Signin</div>
            </div>
            <form #signinForm="ngForm" (ngSubmit)="onSubmitIn(signinForm)" class="input">
                <div>
                    <input type="email" placeholder="Enter MailId" name="email" ngModel required email />
                    <span *ngIf="showmaill" >Enter valid emailId</span>
                </div>
                <div>
                    <input type="password" placeholder="Enter Password" minlength="10" name="password" ngModel required />
                    <span *ngIf="showpasss" >Enter valid password</span>
                </div>
                <div style="display: flex; justify-content: center;"><button type="submit">Signup</button></div>
            </form>
        </ng-template>
    </div>
</div>